* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #ffffffdd;
} 

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 20px;
}

nav a {
    color: #ffffffdd;
    text-decoration: none;
}

nav a:hover {
    color: #B71C1C;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
    
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

h1 {
    margin: 0;
}

.intro {
    color: #ffffffdd;
}

.special {
    color: #e1b913;
}

.highlight {
    background-color: #e1b913;
    width: 100%;
    color: #B71C1C;
    border-radius: 20px;
    padding: 10px;
}

@media (max-width: 600px) {
    .highlight {
        width: 50%;
    }
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
    height: auto;
}

.contact-container {
    background-color: #B71C1C;
    max-width: 100%;
    margin: 20px;
    padding: 30px;
}

h2 {
    color: #ffffffdd;
    text-align: center;
}

p {
    color: black;
    font-weight: bold;
}

.contact {
    color: #e1b913;
}

a {
    color: #e1b913;
}

a:hover {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    width: 60px;
}

.tagline {
    text-align: center;
    color: #ffffffdd;
    font-weight: bold;
}

.except {
    color: #ffffffdd;
    text-align: center;
    margin: 20px;
}

.except:hover {
    color: #B71C1C;
}
