* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.home-page {
    font-family: arial;
    color: black;
    font-size: 1em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    margin: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

nav a {
    color: #ffffffdd;
    text-decoration: none;
}

nav a:hover {
    color: #B71C1C;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

h1 {
    margin: 0;
}

.intro {
    color: #ffffffdd;
}

.special {
    color: #e1b913;
}

.highlight {
    background-color: #e1b913;
    width: 100%;
    color: #B71C1C;
    border-radius: 20px;
    padding: 10px;
}

@media (max-width: 600px) {
    .highlight {
        width: 50%;
    }
}

.select {
    color: #ffffffdd;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
    height: auto;
}

#items {
    background: #ffffffdd;
    color: #B71C1C;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    padding: 3px;
    margin: 15px;
}

.tip {
    text-align: center;
}

.contact {
    background: #e1b913;
    width: 100%;
    margin: 15px;
    border-radius: 20px;
    font-weight: bold;
    padding: 12px 24px;
    transition: 0.3s;
}

p {
    text-align: center;
}

.contact:hover {
    transform: scale(1.1);
}
.contact a {
    color: #B71C1C;
    font-weight: bold;
    text-decoration: none;
}
 .contact a:hover {
    color: black;
}

.except {
    color: white;
}

.except:hover {
    color: #B71C1C
}
